* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #1C1C1C;
}

main {
  width: 550px;
  height: 550px;
  border-radius: 5px;
  background: url('./images/blob-1.png') right top no-repeat, url('./images/blob-2.png') left bottom no-repeat;
  background-size: 100px;
  background-color: #F5F7FB;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}